<div class="container">
  <div class="row">
    <ul class="nav nav-tabs nav-right">
      <li class="active"><a href="#twitter" data-toggle="tab"><i class="fa fa-twitter"></i> Twitter</a></li>
      <li class=""><a href="#account" data-toggle="tab"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li class=""><a href="#account" data-toggle="tab"><i class="fa fa-facebook"></i> LinkedIn</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="twitter">
        <div class="row">
          <div class="col-lg-10">
            <div class="page-header">
              <h2><small>Configure Twitter</small></h2>
            </div>
            <%= form_tag '/services/configure', :method => :post %>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :consumer_key, class: "control-label" %><br />
                  <%= f.text_field :consumer_key, autofocus: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :consumer_secret, class: "control-label" %><br />
                  <%= f.text_field :consumer_secret, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :access_token, class: "control-label" %><br />
                  <%= f.text_field :access_token, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :access_token_secret, class: "control-label" %><br />
                  <%= f.text_field :access_token_secret, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Save Crendentials", class: "btn btn-warning" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="account">
        <%= render "cancel_account" %>
      </div>
    </div>
  </div>
</div>