<div class="container">
  <div class="row">
    <ul class="nav nav-tabs nav-right">
      <li class="active"><a href="#profile" data-toggle="tab"><i class="fa fa-user"></i> Profile Settings</a></li>
      <li class=""><a href="#account" data-toggle="tab"><i class="fa fa-key"></i> Account Settings</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="page-header">
              <h2><small>Profile Settings</small></h2>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <div class="col-md-6">
                <div class="form-group">
                 <!--  <span class="input-group-addon">
                    <i class='fa fa-envelope'></i>
                  </span> -->
                  <%= f.label :email, class: "control-label" %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="form-group">
                  <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, class: "control-label" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :current_password, class: "control-label" %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Update", class: "btn btn-warning" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="account">
        <%= render "cancel_account" %>
      </div>
    </div>
  </div>
</div>