	<nav class="navbar navbar-default navbar-static main_nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">
					Lazy Bee
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
					<li class="<%= request.fullpath.include?("dashboard") == true ? 'active' : '' %>">
						<a href="/dashboards"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
					</li>
					<li class="<%#= request.fullpath.include?("calendars") == true ? 'active' : '' %>"><a href="/calendars"><i class="fa fa-calendar"></i> Calendar</a></li>
					<li class="<%= request.fullpath.include?("twitter") == true ? 'active' : ''  %>">
						<a href="/twitter/tweets"><i class="fa fa-twitter"></i> Twitter</a>
					</li>
					<li class="<%= request.fullpath.include?("facebook") == true ? 'active' : ''  %>">
						<a href="/facebook/recent_posts"><i class="fa fa-facebook"></i> Facebook</a>
					</li>
					<li class="<%= (request.fullpath.include?("users/edit") && action_name=="edit") == true ? 'active' : '' %>"><a href="/users/edit"><i class="fa fa-cog"></i> Settings</a></li>
					<li><%= link_to "<i class='fa fa-power-off'></i> Logout".html_safe, destroy_user_session_path, method: :delete %></li>
				</ul>
			</div>
		</div>
	</nav>

	<% if request.fullpath.include?("twitter") %>
		<nav class="navbar navbar-default subnav" id="subnav">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-sub">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-sub">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="/accounts"><i class="fa fa-send"></i> Tweets</a></li>
					<li class="<%#= request.fullpath.include?("accounts") == true ? 'active' : '' %>"><a href="/accounts"><i class="fa fa-reply-all"></i> Tweets and Replies</a></li>
					<li class="<%#= request.fullpath.include?("potentials") == true ? 'active' : '' %>"><a href="/potentials"><i class="fa fa-users"></i> Followers</a></li>
					<li class="<%#= request.fullpath.include?("campaigns") == true ? 'active' : '' %>"><a href="/campaigns"><i class="fa fa-user"></i> Following</a></li>
					<li class="<%#= request.fullpath.include?("accounts") == true ? 'active' : '' %>"><a href="/accounts"><i class="fa fa-line-chart"></i> Graphs</a></li>
	      </ul>
			</div>
		</nav>
	<% end %>

	<% if request.fullpath.include?("facebook") %>
		<nav class="navbar navbar-default subnav" id="subnav">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-sub">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-sub">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="/accounts"><i class="fa fa-list-ul"></i> Recent Posts</a></li>
					<li class="<%#= request.fullpath.include?("accounts") == true ? 'active' : '' %>"><a href="/accounts"><i class="fa fa-list-ul"></i> Friends</a></li>
					<li class="<%#= request.fullpath.include?("potentials") == true ? 'active' : '' %>"><a href="/potentials"><i class="fa fa-briefcase"></i> Groups</a></li>
					<li class="<%#= request.fullpath.include?("campaigns") == true ? 'active' : '' %>"><a href="/campaigns"><i class="fa fa-volume-up"></i> Invites</a></li>
					<li class="<%#= request.fullpath.include?("accounts") == true ? 'active' : '' %>"><a href="/accounts"><i class="fa fa-list-ul"></i> Birthdays</a></li>
	      </ul>
			</div>
		</nav>
	<% end %>