	<nav class="navbar navbar-default navbar-static main_nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">
					Lazy Bee
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
					<li class="<%= request.fullpath.include?("dashboard") == true ? 'active' : '' %>">
						<a href="/dashboards"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-calendar"></i> Calendar</a>
					</li>
					<li class="<%= request.fullpath.include?("twitter") == true ? 'active' : ''  %>">
						<a href="/twitter/tweets"><i class="fa fa-twitter"></i> Twitter</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-facebook"></i> Facebook</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
					</li>
					<li class="<%= (request.fullpath.include?("users/edit") && action_name=="edit") == true ? 'active' : '' %>"><a href="/users/edit"><i class="fa fa-cog"></i> Settings</a></li>
					<li class="<%= request.fullpath.include?("services") == true ? 'active' : '' %>">
						<a href="/services/configure"><i class="fa fa-cogs"></i> Configure Services</a>
					</li>
					<li><%= link_to "<i class='fa fa-power-off'></i> Logout".html_safe, destroy_user_session_path, method: :delete %></li>
				</ul>
			</div>
		</div>
	</nav>

	<% if request.fullpath.include?("twitter") %>
		<nav class="navbar navbar-default subnav" id="subnav">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-sub">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-sub">
				<ul class="nav navbar-nav navbar-left">
					<li class="<%= request.fullpath.include?("tweets") == true ? 'active' : ''  %>">
						<a href="/twitter/tweets"><i class="fa fa-clock-o"></i> Timeline</a>
					</li>
					<li class="<%= request.fullpath.include?("feed") == true ? 'active' : ''  %>">
						<a href="/twitter/feed"><i class="fa fa-newspaper-o"></i> Newsfeed</a>
					</li>
					<li class="<%= request.fullpath.include?("followers") == true ? 'active' : ''  %>">
						<a href="/twitter/followers"><i class="fa fa-users"></i> Followers</a>
					</li>
					<li class="<%= request.fullpath.include?("following") == true ? 'active' : ''  %>">
						<a href="/twitter/following"><i class="fa fa-user"></i> Following</a>
					</li>
					<li class="<%= request.fullpath.include?("graphs") == true ? 'active' : ''  %>">
						<a href="/twitter/graphs"><i class="fa fa-line-chart"></i> Graphs</a>
					</li>
					<li class="<%= request.fullpath.include?("trends") == true ? 'active' : ''  %>">
						<a href="/twitter/trends"><i class="fa fa-rocket"></i> Trends</a>
					</li>
	      </ul>
			</div>
		</nav>
	<% end %>